@use '../../partials/mixins' as *;
@use '../../partials/typography' as *;
@use '../../partials/variables' as *;


.inventory {
    background-color: $white;
    box-shadow: 0 0.125rem 0.313rem rgba(19, 24, 44, 0.1);
    border-radius: 0.188rem;
    width: 18rem;
    z-index: 1;

    @include tablet {
    width: 44rem;
     }

    @include desktop {
    width: 63.75rem;
    }


    &__titlebox{
        display: flex;
        justify-content: center;
        align-items: center;
        padding:0 0.5rem;

        @include tablet{
            justify-content: flex-start;
            margin-left:1.5rem;
        }
    }
    &__title{
        padding: 0.5rem;
        font-size:1.5rem;
        font-style: normal;
        font-weight: 600;
        line-height: 2rem;
    }
    &__image{
        width:1.3rem;
    }

    &__container{
        margin-left: 0;       
    }

    &__main{
        border-top:1px solid $cloud;
        line-height: 2rem;

        @include desktop{
            line-height: 2.5rem;
        }
    }

    &__items{
        display: flex;
        flex-direction: column;
    }


    &__availability{
        padding-left:1.3rem; 
        padding-right: 1.3rem;

        @include tablet{
            width:48%;
        }

        @include desktop{
            padding-left: 2rem;
            margin-right: 1rem;
        }
    }

    &__border{
        border: 0.4px solid #BDC5D5;
        height:1px;
        opacity: 50%;
        background-blend-mode: lighten;
    }

    &__inventory{
        padding-bottom:1.5rem;
        padding-left:1.3rem; 
        padding-right: 1.3rem;

        @include tablet{
            border-bottom: none;
            border-right: 1px solid #BDC5D5;
            padding-right: 1rem;
            width:50%;
        }

        @include desktop{
            padding-right: 3rem;
            margin-left: 1rem;
        }

    }

    &__heading{
        font-weight: 600;
        font-size: 1.25rem;
        line-height: 1rem;
    
    }

    &__details{
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        
        
        @include tablet{
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__label{
        font-weight: 600;
        font-size: 0.8rem;
        line-height: 1.25rem;
        font-weight: 600;
        color: #13182C;
        padding-top: 0.7rem;
        padding-bottom: 0.3rem;
        margin: 0;

        @include tablet{
            margin-left: 0.5rem;
        }
    }
    &__label-light{
        font-size: 0.8rem;
        padding: 0.4rem;
        vertical-align: top;

    }
    &__label-disabled{
        font-size: 0.8rem;
        padding: 0.4rem;
        vertical-align: top;
        opacity: 50%;

    }
    &__category{
        appearance: none;
        background:$white;
        border: 1px solid #BDC5D5;
        box-sizing: border-box;
        border-radius: 20px;
        width:100%;
        height:2.25rem;
        padding: 0 0.5rem;
        opacity: 50%;
        font-size: 0.7rem;
        background-image: url("../../assets/Icons/arrow_drop_down-24px.svg");
        background-repeat: no-repeat;
        background-position: right;
    }

    &__radio{
        width:0.8rem;
    }

    &__input{
        background:$white;
        border: 1px solid #BDC5D5;
        box-sizing: border-box;
        border-radius: 1.25rem;
        width:100%;
        height:2.25rem;
        padding: 0 0.7rem;
        opacity: 80%;
        font-size: 0.7rem;
 
    }

    &__input-description{
        height:6.9rem;
        border-radius: 1.25rem;
        border: 1px solid #BDC5D5;
        opacity: 80%;
        font-size: 0.7rem;
        padding: 0.5rem 0.5rem;
        vertical-align: top;
        font-family: "Titillium Web";
        resize: none;
    }

    &__buttons{
        background: rgba(247, 248, 249, 0.7);
        border-radius: 0px 0px 3px 3px;
        padding: 1.2rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-top: 1rem;

        @include tablet{
            justify-content: flex-end;
        }
    }

    &__add{
        background: $instock-Indigo;
       border-radius: 1.25rem;
       order:1;
       color: $white;
       border: none;
       height:2rem;
       width:47%;
       font-size: 0.7rem;

       @include tablet{
           width:17%;
           margin-left: 1rem;
       }

       @include desktop{
           width:10%;
       }
    }

    &__cancel{
        border-radius: 1.25rem;
        border: 1px solid $cloud;
       height:2rem;
       width:47%;
       font-size: 0.7rem;
       line-height: 1.25rem;
       color: $slate;
       background-color:$white;

       @include tablet{
           width:10%;
       }
    }  

}

