@use '../../partials/mixins' as *;
@use '../../partials/typography' as *;
@use '../../partials/variables' as *;

.warehouse-details {
  z-index: 1;
  background-color: $white;
  box-shadow: 0 0.125rem 0.313rem rgba(19, 24, 44, 0.1);
  border-radius: 0.188rem;
  width: 21.438rem;

  @include tablet {
    left: 4.17%;
    top: 5.75rem;
    width: 44rem;
  }

  @include desktop {
    left: 10.16%;
    top: 5.75rem;
    width: 63.75rem;
  }

  &__container {
    padding: 2rem 1.5rem;
    display: flex;
    align-items: center;
    width: 100%;
  }

  &__title {
    margin: 0;
    font-family: "Titillium Web";
    font-style: normal;
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 2.25rem;
    color: $instock-Black;

    @include tablet {
      font-size: 2rem;
      line-height: 2.5rem;
      margin-right: 6.25rem;
    }
  }

  &__button {
    margin-left: auto;
    border: none;
    color: white;
    background-color: $instock-Indigo;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 20px;

    &--text {
      display: none;
    }
    &--icon {
      filter: brightness(100);
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    border-top: 0.063rem solid $cloud;
    padding: 1rem 1.5rem;

    &--name-information {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    @include tablet {
      flex-direction: row;
      border-top: 0.063rem solid $cloud;
      padding: 0.5rem 1.5rem;

      &--address{
        width: 35%;
        border-right: 1px solid $cloud;
      }

      &--name-information{
        width: 45%;
        margin-left: 2rem;
      }
    }

    &--subtitle {
      font-weight: 600;
      text-transform: uppercase;
      font-size: 0.688rem;
      line-height: 1rem;
      color: #5c667e;
      margin: 1rem 0 0.25rem 0;
    }
    &--text {
      font-size: 0.813rem;
      line-height: 1.25rem;
    }
  }

  &__list {
    padding: 0;
    list-style: none;
    @include tablet {
      margin: 0;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    border-top: 0.063rem solid $cloud;
    padding: 1rem 1.5rem;
    @include tablet {
      flex-direction: row;
      align-items: center;
      padding: 1rem 2rem;
      &:first-child {
        border-top: none;
      }

      &--inventory{
        width: 70%;
      }

      &--status{
        margin-right: 9rem;
      }
    }
    @include desktop {
      &--status{
        margin-right: 0;
      }
    }
    &-texts {
      display: flex;
      justify-content: space-between;

      @include tablet {
        justify-content: unset;
        flex-basis: 95.8%;
      }
    }
    &-left {
      width: 40%;
      @include tablet {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 38%;
        margin-right: 2.5rem;
      }
    }

    &--subtitle {
      text-transform: uppercase;
      font-weight: 600;
      font-size: 0.688rem;
      line-height: 1rem;
      color: $slate;
      margin: 1rem 0 0.25rem 0;
      @include tablet {
        display: none;
      }
    }
    &--title {
      font-weight: 600;
      font-size: 0.813rem;
      line-height: 1.25rem;
      color: $instock-Indigo;
      display: flex;
      align-items: center;
      @include tablet {
        margin-right: 3rem;
      }
    }

    &--text {
      font-size: 0.813rem;
      line-height: 1.25rem;
      margin: 0;

      @include tablet {
        font-size: 0.875rem;
        line-height: 1.375rem;
      }
    }

    &--inStock {
      text-transform: uppercase;
      background-color: rgba(21, 132, 99, 0.07);
      padding: 0.5rem;
      border-radius: 20px;
      color: $green;
      font-weight: 600;
    }

    &--outOfStock {
        text-transform: uppercase;
        background-color: rgba(201, 69, 21, 0.07);
        padding: 0.5rem;
        border-radius: 20px;
        color:$red;
        font-weight: 600;
      }

    &-right {
      margin-right: 3rem;
      @include tablet {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 45%;
      }
      @include desktop {
        width: 38%;
      }
    }
  }

  &__icons {
    margin-top: 1.188rem;
    display: flex;
    justify-content: space-between;
  }

  &__icon {
    @include tablet {
      &:first-child {
        margin-right: 1rem;
      }
    }
  }

  &__footer{
    padding: 2.5rem 6.5rem;
    text-align: center;
    color: $slate;
    font-size: 0.75rem;
  }
}

.wd-nav {
  display: none;
  @include tablet {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0 2rem;
    height: 2.5rem;
    background-color: rgba(247, 248, 249, 0.7);
    align-items: center;

  &__text {
    color: $instock-Black;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 1.125rem;
    color: $slate;

    &--qty{
      display: none;
      text-transform: uppercase;
    font-style: normal;
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 1.125rem;
    color: $slate;
    }
  }

  &__left, &__right{
    display: flex;
    align-items: center;
  }

  &__left{
    width: 60%;
  }

  &__right{
    margin-left: auto;
  }

  // @include desktop {
  //   width: 73%;
  // }
}

  @include desktop {
    &__text--quantity{
      display: none;
    }
    &__text--qty{
      display: inline;
    }
    
    &__left{
      width: 72%;
    }

    &__right{
      margin-left: 0;
    }
  }

  &__sort-icon {
    margin-left: 0.559rem;
    height: 1.125rem;
    &:first-of-type {
      margin-right: 2.3rem;
    }
    &:nth-of-type(2) {
      margin-right: 2.5rem;
    }
    &:nth-of-type(3) {
      margin-right: 0.8rem;
    }
    &:nth-of-type(4) {
      margin-right: 2.8rem;
    }
    &:nth-of-type(5) {
      margin-left: auto;
      margin-right: 0;
    }

    @include desktop {
      &:first-of-type {
        margin-right: 7.5rem;
      }
      &:nth-of-type(2) {
        margin-right: 4.5rem;
      }
      &:nth-of-type(3) {
        margin-right: 0.8rem;
      }
      &:nth-of-type(4) {
        margin-right: 2.8rem;
      }
      &:nth-of-type(5) {
        margin-left: auto;
        margin-right: 0;
      }
    }
  }

}
