@use 'variables' as *;

@mixin tablet {
  @media (min-width: $breakpoint-tablet) {
    @content;
  }
};
@mixin desktop {
  @media (min-width: $breakpoint-desktop) {
    @content;
  }
};
@mixin flex-align-center {
  display: flex;
  align-items: center;
};