@font-face {
  font-family: "Titillium Web";
  src: url("../assets/Fonts/woff2/TitilliumWeb-SemiBold.woff2") format("woff2"),
    url("../assets/Fonts/woff/TitilliumWeb-SemiBold.woff") format("woff"),
    url("../assets/Fonts/ttf/TitilliumWeb-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Titillium Web";
  src: url("../assets/Fonts/woff2/TitilliumWeb-SemiBoldItalic.woff2")
      format("woff2"),
    url("../assets/Fonts/woff/TitilliumWeb-SemiBoldItalic.woff") format("woff"),
    url("../assets/Fonts/ttf/TitilliumWeb-SemiBoldItalic.ttf")
      format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Titillium Web";
  src: url("../assets/Fonts/woff2/TitilliumWeb-ExtraLight.woff2")
      format("woff2"),
    url("../assets/Fonts/woff/TitilliumWeb-ExtraLight.woff") format("woff"),
    url("../assets/Fonts/ttf/TitilliumWeb-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Titillium Web";
  src: url("../assets/Fonts/woff2/TitilliumWeb-LightItalic.woff2")
      format("woff2"),
    url("../assets/Fonts/woff/TitilliumWeb-LightItalic.woff") format("woff"),
    url("../assets/Fonts/ttf/TitilliumWeb-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Titillium Web";
  src: url("../assets/Fonts/woff2/TitilliumWeb-BoldItalic.woff2")
      format("woff2"),
    url("../assets/Fonts/woff/TitilliumWeb-BoldItalic.woff") format("woff"),
    url("../assets/Fonts/ttf/TitilliumWeb-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Titillium Web";
  src: url("../assets/Fonts/woff2/TitilliumWeb-ExtraLightItalic.woff2")
      format("woff2"),
    url("../assets/Fonts/woff/TitilliumWeb-ExtraLightItalic.woff")
      format("woff"),
    url("../assets/Fonts/ttf/TitilliumWeb-ExtraLightItalic.ttf")
      format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Titillium Web";
  src: url("../assets/Fonts/woff2/TitilliumWeb-Black.woff2") format("woff2"),
    url("../assets/Fonts/woff/TitilliumWeb-Black.woff") format("woff"),
    url("../assets/Fonts/ttf/TitilliumWeb-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Titillium Web";
  src: url("../assets/Fonts/woff2/TitilliumWeb-Italic.woff2") format("woff2"),
    url("../assets/Fonts/woff/TitilliumWeb-Italic.woff") format("woff"),
    url("../assets/Fonts/ttf/TitilliumWeb-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Titillium Web";
  src: url("../assets/Fonts/woff2/TitilliumWeb-Bold.woff2") format("woff2"),
    url("../assets/Fonts/woff/TitilliumWeb-Bold.woff") format("woff"),
    url("../assets/Fonts/ttf/TitilliumWeb-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Titillium Web";
  src: url("../assets/Fonts/woff2/TitilliumWeb-Light.woff2") format("woff2"),
    url("../assets/Fonts/woff/TitilliumWeb-Light.woff") format("woff"),
    url("../assets/Fonts/ttf/TitilliumWeb-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Titillium Web";
  src: url("../assets/Fonts/woff2/TitilliumWeb-Regular.woff2") format("woff2"),
    url("../assets/Fonts/woff/TitilliumWeb-Regular.woff") format("woff"),
    url("../assets/Fonts/ttf/TitilliumWeb-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}