//breakpoint variables
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1280px;

//colors
$instock-Black: #13182C;
$instock-Indigo: #2E66E6;

$white: #FFF;
$slate: #5C667E;
$cloud: #BDC5D5;

$graphite: #232940;
$light-Grey:#F7F8F9;

$green: #158463;
$red: #C94515;