//breakpoint variables
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1280px;

//colors
$instock-Black: #13182c;
$instock-Indigo: #2e66e6;
$white: #fff;
$slate: #5c667e;
$cloud: #bdc5d5;
$graphite: #232940;
$light-Grey: #f7f8f9;
$green: #158463;
$red: #c94515;